.category-list {
    padding: 1rem;
    border-bottom: 2px solid white;
    width: 90%;
    margin: 0 auto;
}

.category-list h2 {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #400E32;
    padding: 1rem 0rem;
}

.category-list-container {
    gap: 1rem;
    margin-top: .7rem;
    padding: 1rem 0rem;
}

.swiper-horizontal {
    padding: 5px !important;
}

.swiper-button-next, .swiper-button-prev {
    color: #e8e3e7 !important;
}

@media (min-width: 992px) {
    .category-list {
        width: 90%;
    }
}