/* The side navigation menu */

.adminWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.wrapper {
  width: 100%;
}


.sidebar {
  width: 200px;
  background-color: #f1f1f1a5;
  float: left;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #a61f69;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #a61f6920;
}

/* background-color: #555; Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

