.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 999;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logo img {
  height: 70px;
  margin-right: 20px;
  margin-left: 10px;
}

.logo span {
  font-family: Rubik, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  color: #333;
  display: none;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons a {
  margin-left: 20px;
  padding: 1rem;
  display: none;
}

.buttons button {
  margin-left: 20px;
  padding: 1rem;
  display: none;
}


nav.menu-open {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color:#fefdfe;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 15px 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

nav.menu-closed {
  display: none;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.menu-open {
  height: auto;
}

.menu-open span:first-child {
  transform: translateY(8px) rotate(45deg);
}

.menu-open span:nth-child(2) {
  opacity: 0;
}

.menu-open span:last-child {
  transform: translateY(-8px) rotate(-45deg);
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .buttons a {
    display: block;
  }

  .buttons button{
    display: inline-block;
  }

  .avatar-container{
    display: flex;
    align-items: center;
  }

  .avatar{
    color: #400E32;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid #400E32;
    padding: .7rem;
    border-radius: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo span {
    display: inline;
  }

}