
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color:#a61f69;
    padding: 28px 0 14px;
    width: 100%;
}

.search > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.search h2 {
    font-family: Rubik, sans-serif;
    font-size: 20px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    margin-bottom: 14px;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.calendar-container{
    padding: 0px;
    border-radius: 50px !important;
}


.search-container > select {
    width: 20%;
    margin: 0px 30px;
    border-radius: 10px;
    font-size: 1rem;
    height: 36px;
    font-family: Roboto;
    padding-left: 8px;
    color:#495057;
}

div.search > div.search-container >  div.p-dropdown.p-component.p-inputwrapper{
    border-radius: 10px;
    height: 37px;
    width: 20%;
}

span.p-dropdown-label.p-inputtext{
    font-family: Roboto;
    color:#6C757D;
    display: flex;
    align-items: end;
}

span.p-dropdown-label.p-inputtext.p-placeholder{
    font-family: Roboto;
    color:#6C757D;
    display: flex;
    align-items: end;
}

div .search-container {
    display: flex;
    justify-content: center;
}

.search-container > select:focus{
    outline: 4px solid rgb(255,230,156);
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-calendar > input[type=text] {
    min-width: 100%;
    border-radius: 10px;
}

span.p-calendar {
    width: 20%;
    margin-right: 30px;
    height: 36px;
}

span.p-dropdown-label.p-inputtext {
    font-family: Roboto;
    font-size: 1rem;
    display: flex;
    align-items: end;
}

p.co-filter{
    color:white;
    padding: 10px;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .search > div {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    div.search > div.search-container >  div.p-dropdown.p-component.p-inputwrapper{
        width: 100%;
    }

    #calendar-picker{
        width: 100%;
        margin:0px;
    }
}